{% extends "_layout" %}

{% block main %}
<div class="row">
    <div class="large-12 columns masthead">
        <h2>&rarr; {{ siteName }} &larr;</h2>
        <p class="tag">{{  genericContent.tagLine }}</p>

        <ul data-orbit>
            {%  for slide in entry.homepageSlideshow %}
                <li>
                    <img src="{{ slide.url }}" />
                    <div class="orbit-caption">{{ slide.caption }}</div>
                </li>
            {% endfor %}
        </ul>

    </div>
</div>

<div class="row main">
    {% include "includes/_sidenav" %}
    <div class="large-9 columns">
        <h3>{{ entry.heading }}</h3>

        <!-- Grid Example -->
        <div class="row">
            <div class="large-12 columns">
                {{ entry.body }}
                <h3 class="subheader" id="artists">Our Artists</h3>

                <p>Each one hand-selected by our talented A&amp;R department.</p>

                <div class="row">
                    {% include "includes/_gallery.html" %}
                </div>
            </div>
        </div>
    </div>
    {% include "includes/_footer" %}

    <script>
        document.write('<script src=' +
                ('__proto__' in {} ? 'a/j/vendor/zepto' : 'a/j/vendor/jquery') +
                '.js><\/script>')
    </script>

    <script src="a/j/foundation/foundation.js"></script>

    <script src="a/j/foundation/foundation.alerts.js"></script>

    <script src="a/j/foundation/foundation.clearing.js"></script>

    <script src="a/j/foundation/foundation.cookie.js"></script>

    <script src="a/j/foundation/foundation.dropdown.js"></script>

    <script src="a/j/foundation/foundation.forms.js"></script>

    <script src="a/j/foundation/foundation.joyride.js"></script>

    <script src="a/j/foundation/foundation.magellan.js"></script>

    <script src="a/j/foundation/foundation.orbit.js"></script>

    <script src="a/j/foundation/foundation.placeholder.js"></script>

    <script src="a/j/foundation/foundation.reveal.js"></script>

    <script src="a/j/foundation/foundation.section.js"></script>

    <script src="a/j/foundation/foundation.tooltips.js"></script>

    <script src="a/j/foundation/foundation.topbar.js"></script>


    <script>
        $(document).foundation();
    </script>
    {% endblock %}
