{% extends "_layout" %}

{% block main %}
<div class="row">
    <div class="large-12 columns masthead">
        <h2>&rarr; {{ siteName }} &larr;</h2>
        <p class="tag">{{  genericContent.tagLine }}</p>

        <ul data-orbit>
            {%  for slide in entry.homepageSlideshow %}
            <li>
                <img src="{{ slide.url }}" />
                <div class="orbit-caption">{{ slide.caption }}</div>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>

<div class="row main">
    <div class="large-3 columns">
        <ul class="side-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">Our Artists</a></li>
            <li><a href="/staff-listing.html">Our Staff</a></li>
            <li class="divider"></li>
            <li><a href="/page.html">About Crafty Records</a></li>
            <li><a href="#">Find our Music</a></li>
        </ul>
    </div>
    <div class="large-9 columns">
        <h3>{{ entry.heading }}</h3>

        <!-- Grid Example -->
        <div class="row">
            <div class="large-12 columns">
               {{ entry.body }}
                <h3 class="subheader">Our Artists</h3>

                <p>Each one hand-selected by our talented A&amp;R department.</p>

                <div class="row">
                    <div class="large-6 columns">
                        {% for artist in craft.entries.find({section: 'Artists', limit:'4', offset:'4'}) %}
                        <div class="panel">
                            <h5><a href="artist-bio.html">{{ artist.title }}</a></h5>
                            <img class="artist left th" src="http://placehold.it/60x60" />
                            <p>{{ artist.shortBio }} <a href="{{ artist.url }}">Read the bio &rarr;</a></p>
                        </div>
                        {% endfor %}
                    <div class="large-6 columns">
                        {% for artist in craft.entries.find({section: 'Artists', limit:'4'}) %}
                            <div class="panel">
                                <h5><a href="artist-bio.html">{{ artist.title }}</a></h5>
                                <img class="artist left th" src="http://placehold.it/60x60" />
                                <p>{{ artist.shortBio }} <a href="{{ artist.url }}">Read the bio &rarr;</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <p>&copy; 2013 Crafty Records All Rights Reserved. Especially the right to rock your socks off.</p>
        </div>
    </div>

    <script>
        document.write('<script src=' +
                ('__proto__' in {} ? 'a/j/vendor/zepto' : 'a/j/vendor/jquery') +
                '.js><\/script>')
    </script>

    <script src="a/j/foundation/foundation.js"></script>

    <script src="a/j/foundation/foundation.alerts.js"></script>

    <script src="a/j/foundation/foundation.clearing.js"></script>

    <script src="a/j/foundation/foundation.cookie.js"></script>

    <script src="a/j/foundation/foundation.dropdown.js"></script>

    <script src="a/j/foundation/foundation.forms.js"></script>

    <script src="a/j/foundation/foundation.joyride.js"></script>

    <script src="a/j/foundation/foundation.magellan.js"></script>

    <script src="a/j/foundation/foundation.orbit.js"></script>

    <script src="a/j/foundation/foundation.placeholder.js"></script>

    <script src="a/j/foundation/foundation.reveal.js"></script>

    <script src="a/j/foundation/foundation.section.js"></script>

    <script src="a/j/foundation/foundation.tooltips.js"></script>

    <script src="a/j/foundation/foundation.topbar.js"></script>


    <script>
        $(document).foundation();
    </script>
{% endblock %}
