{% extends "_layout.html" %}
    {% block main %}
        <div class="row">
            <div class="large-12 columns masthead">
                <h2>&rarr; Crafty Records &larr;</h2>
                <p class="tag">A small selection of the top artists at the top of their craft. Candy for your ears.</p>
            </div>
        </div>
        <div class="row main">
        {% include "includes/_sidenav" %}
        <div class="large-9 columns">
            {% for image in entry.artistImage %}
            <img src="{{ image.getUrl('artistBio') }}" alt="{{ entry.title }}" />
            {% endfor %}
                <h3>{{ entry.title }}</h3>

                <!-- Grid Example -->
                <div class="row">
                    <div class="large-12 columns">
                        {{ entry.longBio }}

                        <h4 class="subheader">Discography</h4>

                        <p>The complete list of albums from this artist:</p>

                        <ul>
                            {% for album in entry.discography %}
                            <li><a href="{{ album.albumItunesUrl }}">{{ album.albumTitle }}</a> {{ album.albumReleaseYear }} <span class="success label"><a href="{{ album.albumItunesUrl }}">iTunes</a></span></li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
            {% include "includes/_footer" %}
    {% endblock %}